
  @import url('https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@300;400;500;600;700;800;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


:root {
    --padding: 10px;
    /*--padding-section: 80px */
}

* {
    background-color: #E9EBEC;
}
/* Container */
.container {
    width: 90%;
    max-width: 1280px;
    margin: 0 auto;
}

body {

    /* max-width: 1280px; */
     font-family: Darker Grotesque;
     margin: 0 auto;
 }

/* Nav bar */

.nav {
    display: flex;
  /*  margin: 0 auto; */
    justify-content: center;
    max-width: none;
    align-items: center; 
    gap: 10px;    
    padding-top: var(--padding);
    padding-bottom: var(--padding-section);
    overflow: hidden;
}

.nav_link {
    margin-left: auto;
    display: flex;
    width: auto;
    justify-content: center;
    align-items: center;
    gap: 50px;
    color: #252B33;
    font-family: Darker Grotesque;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    list-style: none;
}

.nav_links {
    text-decoration: none;
    list-style: none;
    color: #252B33;
}

.nav_button{
    color: #E9EBEC;
    display: flex;
    width: 136.415px;
    padding: 5px 20px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 10px;
    background: #F36;
}

h1 {
    color: #252B33;
    font-family: Darker Grotesque;
    font-size: 96px;
    font-style: normal;
    font-weight: 700;
    line-height: 80px; /* 83.333% */
}

/* Hero section */

.hero_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  /*  margin: 0 auto; */
}

.hero_img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1119px;
    height: 645px;
    flex-shrink: 0;
    background: url(/images/landing/heroimg.png);
    background-repeat: no-repeat;
}

.hero_paragraph {
    color: #252B33;
text-align: center;
font-family: Darker Grotesque;
font-size: 40px;
font-style: normal;
font-weight: 700;
line-height: 40px; /* 100% */
}

.hero_ctas {
display: inline-flex;
align-items: flex-start;
gap: 35px;
}
.cta {
    display: flex;
    padding: 5px 20px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 10px;
    background: #F36;
    color: #FFF;
    text-align: center;
    font-family: Darker Grotesque;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px; /* 100% */
    text-decoration: none;
    padding-top: var(--padding);
    padding-bottom: var(--padding);
}

.cta--blue {
    background: #2F7BBD;
}

/* Advantages Section */

.container_advantages {
    /*width: 1280px; */
    padding-top: 80px;
    padding-bottom: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

.container_advantages2 {
    display: flex;
    /* flex-wrap: wrap; */
    align-items: center;
    justify-content: center;
    flex-direction: row;
    padding-top: var(--padding);
    padding-bottom: var(--padding);
    gap: 80%;
}

.acess {
    width: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.advantages-icon {
    height: 120px;
    display: inline-block;
    flex-direction: column;
    align-items: center;

}

.icons-text {
    text-align: center;
    text-justify: auto;
    color: #33363F;
    text-align: center;
    font-family: Darker Grotesque;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px; /* 100% */
}

.subtitle {
    color: #252B33;
text-align: center;
font-family: Darker Grotesque;
font-size: 64px;
font-style: normal;
font-weight: 700;
line-height: 25px; /* 39.063% */
}

/* Packs section */

.pack_title {
    padding-top: var(--padding);
    padding-bottom: var(--padding);
}

.packs_paragraph {
    color: #252B33;
    text-align: center;
    font-family: Darker Grotesque;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px; /* 78.125% */
}

.pack_container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}

.price_element {
     /*display: flex; */
    padding-bottom: 0;
    text-align: center;
    border-radius: 10px;
    border: 2px solid #2F7BBD;
    width: 280px;
    height: 850px;
}

.pack_element_title {
    color: #252B33;
    text-align: center;
    font-family: Darker Grotesque;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    margin: 24px;
}

.pack_element_paragraph {
    color: #252B33;
    text-align: center;
    font-family: Darker Grotesque;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 83.333% */
}

.price_price {
    color: #252B33;
    text-align: center;
    font-family: Darker Grotesque;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px; /* 100% */
}

.pack_cta {
    margin: 0 auto 20px;
    display: flex;
    width: 80%;
    height: 50px;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background: #F36;
    color: #FFF;
    text-align: center;
    font-family: Darker Grotesque;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px; 
    text-decoration: none;
}

.pack_cta_blue {
    margin: 0 auto 20px;
    display: flex;
    width: 80%;
    height: 50px;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background: #2F7BBD;
    color: #FFF;
    text-align: center;
    font-family: Darker Grotesque;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px; 
    text-decoration: none;
}
.divider {
    margin: 0 auto;
    width: 80%;
    height: 2px;
    background: #2F7BBD;;
}

.element_features {
    text-align: start;
    color: #252B33;
    font-family: Darker Grotesque;
    font-size: 24px;
    font-style: normal;
    font-weight: 200;
    line-height: 25px; /* 104.167% */
}



/*Explanation section */


.explanation_subtitle {
    color: #252B33;
    text-align: center;
    font-family: Darker Grotesque;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    margin: 10px;
}

.icons-exp-text {
    white-space: nowrap;
   /* text-align: center;*/
    text-justify: auto;
    color: #33363F;
    text-align: center;
    font-family: Darker Grotesque;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px; /* 100% */
}

/* Catalog Section */

.catalog {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    padding-bottom: 80px;
}



.catalog_img {
    width: 450px;
    margin: 0 auto;
}

.cta-catalog-div {
    display: flex;
    justify-content: center;
}

.cta_catalog {
    display: flex; 
    padding: 5px 20px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 10px;
    background: #F36;
    color: #FFF;
    text-align: center;
    font-family: Darker Grotesque;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px; /* 100% */
    text-decoration: none;
    padding-top: var(--padding);
    padding-bottom: var(--padding);
    margin-bottom: 40px;
    display: inline-flex;
    align-items: flex-start;
    gap: 35px;
}

.title_catalog {
    margin: 0 auto;
    color: #252B33;
    text-align: center;
    font-family: Darker Grotesque;
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    margin: 24px;
}

.paragraph_catalog {
    color: #252B33;
    text-align: center;
    font-family: Darker Grotesque;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px; /* 78.125% */
}



/* FAQ Section */

  
  .accordion {
    width: 90%;
    max-width: 1000px;
    margin: 2rem auto;
    font-family: Darker Grotesque;
    padding-bottom: 80px;
  }
  .accordion-item {
    color: #111;
    margin: 1rem 0;
    border-radius: 0.5rem;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.25);
  }
  .accordion-item-header {
    background-color: #252B33;
    color: #FFF;
    padding: 0.5rem 3rem 0.5rem 1rem;
    min-height: 3.5rem;
    line-height: 1.25rem;
    font-size: 40px;
    font-weight: bold;
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;
    border-radius: 10px;
  }
  .accordion-item-header::after {
    content: "\002B";
    font-size: 2rem;
    position: absolute;
    right: 1rem;
  }
  .accordion-item-header.active::after {
    content: "\2212";
  }
  .accordion-item-body {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
  }
  .accordion-item-body-content {
    font-size: 32px;
    padding: 1rem;
    /*line-height: 1.5rem;*/
    border-top: 1px solid;
    border-image: linear-gradient(to right, transparent, #34495e, transparent) 1;
  }
  
  @media(max-width:767px) {
    html {
      font-size: 14px;
    }
  }
 
/* Footer Section */
.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 580px;
    background-color: #252B33;
}

.footer-logo {
    margin: 0 auto;
    background: none;
    color: #FFF;
    padding-top: 40px;
    padding-bottom: 40px;
}

.footer-nav {
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    gap: 80px;
    background: none;
    padding-bottom: 40px;
}

.footer-link {
    text-decoration: none;
    list-style: none;
    background: none;
}

.footer-link-text {
    font-family: Darker Grotesque;
    font-size: 42px;
    font-weight: 400;
    color: #FFF;
    background: none;
    text-decoration: none;
}

.footer-cta-container {
    display: flex;
    justify-content: center;
    max-width: auto;
    background: none;
    padding-bottom: 40px;
}

.footer-cta {
    color: #E9EBEC;
    display: flex;
    width: 136.415px;
    padding: 5px 20px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 10px;
    background: #F36;
}

.rrss {
    display: flex;
    margin: 0 auto;
    background: none;
    gap: 30px;
    padding-top: 40px;
}

.facebook-logo-img, .ig-logo-img, .tiktok-logo-img {
    background: none;
}

.facebook-logo, .ig-logo, .tiktok-logo {
    background: none;
}

.divider-footer {
    margin: 0 auto;
    width: 90%;
    height: 2px;
    color: #FFF;
    max-width: auto;
}


.blackdog-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: none;
    gap: 15px;
    margin: 0 auto;
    margin-top: 10px;
}

.blackdog-logo {
    background: none;
}


.blackdog-img{
    background: none;
    width: 100px;
}

.footer-text {
    background: none;
    color: #FFF;
}

/* Media querys */

@media (max-width: 1110px) {
    .container_advantages2 {
        display: flex;
        flex-wrap: wrap;
    }



  }
  