
  @import url('https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@300;400;500;600;700;800;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html{
    font-size: 16px;
}


* {
    background-color: #E9EBEC;
}
/* Container */
.container {
    width: 90%;
    max-width: 1280px;
    margin: 0 auto;
    align-content: start;
}

body {

    font-family: Darker Grotesque;
    margin: 0 auto;
 }

/* Nav bar */

.nav {
    display: flex;
    justify-content: center;
    max-width: none;
    align-items: center; 
    gap: 10px;    
    padding-top: var(--padding);
    padding-bottom: var(--padding-section);
    overflow: hidden;
}


.nav-menu {
    margin-left: auto;
    cursor: pointer;
    display: none;
}

.nav-close{
    display: var(--show, none);
}

.nav_link {
    margin-left: auto;
    display: flex;
    width: auto;
    justify-content: center;
    align-items: center;
    gap: 50px;
    color: #252B33;
    font-family: Darker Grotesque;
    font-weight: 700;
    line-height: normal;
    list-style: none;
    font-size: 1.5rem;
}



.nav_links {
    text-decoration: none;
    list-style: none;
    color: #252B33;
}

.nav_button{
    color: #E9EBEC;
    display: flex;
    width: 136.415px;
    padding: 5px 20px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 10px;
    background: #F36;
}


h1 {
    color: #252B33;
    font-family: Darker Grotesque;
    font-size: 5rem;
    font-style: normal;
    font-weight: 700;
    line-height: 80px; /* 83.333% */
}

h2 {
    margin: 0;
}

h3 {
    margin: 0;
}

/* Hero section */

.hero_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero_img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1119px;
    height: 645px;
    flex-shrink: 0;
    background: url(/images/landing/heroimg.png);
    background-repeat: no-repeat;
}



.hero_paragraph {
color: #252B33;
text-align: center;
font-family: Darker Grotesque;
font-size: 2rem;
font-style: normal;
font-weight: 400;
line-height: 1.8rem; /* 100% */
}

.hero_ctas {
display: inline-flex;
align-items: flex-start;
gap: 35px;
}
.cta {
    display: flex;
    padding: 1px 1.25rem;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 10px;
    background: #F36;
    color: #FFF;
    text-align: center;
    font-family: Darker Grotesque;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: 40px; /* 100% */
    text-decoration: none;
     /*padding-top: var(--padding);
    padding-bottom: var(--padding);*/   
}

.cta--blue {
    background: #2F7BBD;
}

/* Advantages Section */

.container_advantages {
    padding-top: 3rem;
    padding-bottom: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 80%;
}

.container_advantages2 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    padding-bottom: 3rem;
    gap: 80%;
}

.acess {
    width: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
}



.advantages-icon {
    height: 120px;
    display: inline-block;
    flex-direction: column;
    align-items: center;

}

.icons-text {
    text-align: center;
    text-justify: auto;
    color: #33363F;
    text-align: center;
    font-family: Darker Grotesque;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.5rem; /* 100% */
}

.subtitle {

color: #252B33;
text-align: center;
font-family: Darker Grotesque;
font-size: 2.5rem;
font-style: normal;
font-weight: 700;
line-height: 2.5rem; /* 39.063% */
} 

/* Packs section */






.packs_paragraph {
    width: 90%;
    color: #252B33;
    text-align: center;
    font-family: Darker Grotesque;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5rem; /* 78.125% */
}



.pack_container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: .8rem;
    justify-content: center;
}

.price_element {
    padding-bottom: 0;
    text-align: center;
    border-radius: 10px;
    border: 2px solid #2F7BBD;
    width: 17.5rem;
   /* height: 55.125rem; */
}

.price_element--pink{
    border: 2px solid #F36;
}

.pack_element_title {
    color: #252B33;
    text-align: center;
    font-family: Darker Grotesque;
    font-size: 2rem;
    font-style: normal;
    font-weight: 700;
    margin: 24px;
}

.pack_element_paragraph {
    color: #252B33;
    text-align: center;
    font-family: Darker Grotesque;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.3rem; /* 83.333% */
}


.price_price {
    color: #252B33;
    text-align: center;
    font-family: Darker Grotesque;
    font-size: 2rem;
    font-style: normal;
    font-weight: 700;
    line-height: 40px; /* 100% */
}

.pack_cta {
    margin: 0 auto 20px;
    display: flex;
    width: 80%;
    height: 3.12rem;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background: #F36;
    color: #FFF;
    text-align: center;
    font-family: Darker Grotesque;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: 40px; 
    text-decoration: none;
}

.pack_cta_blue {
    margin: 0 auto 20px;
    display: flex;
    width: 80%;
    height: 3.12rem;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background: #2F7BBD;
    color: #FFF;
    text-align: center;
    font-family: Darker Grotesque;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: 40px; 
    text-decoration: none;
}
.divider {
    margin: 0 auto;
    width: 80%;
    height: 2px;
    background: #252B33;
}

.divider--pink {
    background: #F36;

}

.element_features {
    text-align: start;
    color: #252B33;
    font-family: Darker Grotesque;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 200;
    line-height: 1.5rem; /* 104.167% */
}



/*Explanation section */


.explanation_subtitle {
    color: #252B33;
    text-align: center;
    font-family: Darker Grotesque;
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 700;
    margin: 10px;
}

.icons-exp-text {
    white-space: nowrap;
    text-justify: auto;
    color: #33363F;
    text-align: center;
    font-family: Darker Grotesque;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: 40px; /* 100% */
}

/* Catalog Section */

.catalog {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    padding-bottom: 80px;
}



.catalog_img {
    width: 450px;
    margin: 0 auto;
}

.cta-catalog-div {
    display: flex;
    justify-content: center;
}

 .cta_catalog {
    display: flex;
    padding: 2px 1.25rem;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 10px;
    background: #F36;
    color: #FFF;
    text-align: center;
    font-family: Darker Grotesque;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: 40px; /* 100% */
    text-decoration: none;
}

.title_catalog {
    margin: 0 auto;
    color: #252B33;
    text-align: center;
    font-family: Darker Grotesque;
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 700;
}

.paragraph_catalog {
    color: #252B33;
    text-align: center;
    font-family: Darker Grotesque;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: 25px; /* 78.125% */
}



/* FAQ Section */

  
  .accordion {
    width: 90%;
    max-width: 1000px;
    margin: 2rem auto;
    font-family: Darker Grotesque;
    padding-bottom: 80px;
  }
  .accordion-item {
    color: #111;
    margin: 1rem 0;
    border-radius: 0.5rem;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.25);
  }
  .accordion-item-header {
    background-color: #252B33;
    color: #FFF;
    padding: 0.5rem 3rem 0.5rem 1rem;
    min-height: 3.5rem;
    line-height: 1.25rem;
    font-size: 1.5rem;
    font-weight: 700;
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;
    border-radius: 10px;
  }
  .accordion-item-header::after {
    content: "\002B";
    font-size: 1.5rem;
    position: absolute;
    right: 1rem;
  }
  .accordion-item-header.active::after {
    content: "\2212";
  }
  .accordion-item-body {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
  }
  .accordion-item-body-content {
    font-size: 1.5rem;
    padding: 1rem;
    border-top: 1px solid;
    border-image: linear-gradient(to right, transparent, #34495e, transparent) 1;
  }
  
 
 
/* Footer Section */
.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    background-color: #252B33;
}

.footer-logo {
  
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
    min-width: 8rem;
    margin: 0 auto;
    background: none;
    color: #FFF;
    padding-top: 3rem;
    padding-bottom: 1.5rem;
}

.footer-nav {
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    gap: 3.3rem;
    background: none;
    padding-bottom: 40px;
    font-size: 1.5rem;
}

.footer-link {
    text-decoration: none;
    list-style: none;
    background: none;
}

.footer-link-text {
    font-family: Darker Grotesque;
    font-weight: 700;
    color: #FFF;
    background: none;
    text-decoration: none;
}

.footer-cta-container {
    display: flex;
    justify-content: center;
    max-width: auto;
    background: none;
    padding-bottom: 2.5rem;
}

.footer-cta {
    color: #E9EBEC;
    display: flex;
    width: 136.415px;
    padding: 1px 1.20px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 10px;
    background: #F36;
}

.rrss {
    display: flex;
    margin: 0 auto;
    background: none;
    gap: 30px;
    padding-top: 3.5rem;
}

.facebook-logo-img, .ig-logo-img, .tiktok-logo-img {
    background: none;
    width: 2.5rem;
}

.facebook-logo, .ig-logo, .tiktok-logo {
    background: none;
    width: 2.4rem
}

.divider-footer {
    margin: 0 auto;
    width: 90%;
    height: 2px;
    color: #FFF;
    max-width: auto;
}


.blackdog-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: none;
    gap: 15px;
    margin: 0 auto;
    margin-top: 10px;
    padding-bottom: 1.5rem;
}

.blackdog-logo {
    background: none;
}


.blackdog-img{
    background: none;
    width: 100px;
}

.footer-text {
    background: none;
    color: #FFF;
}

/* Media querys */
/* 1280px */
@media (max-width: 1280px) {

    html {
        font-size: 12.8px;
    }

    .container_advantages2 {
        display: flex;
        flex-wrap: nowrap;
        gap: 50%;
    }

    .logo-img {
        width: 80%;
        min-width: 8.75rem;
    }

}

/* 1150px */

@media (max-width: 1150px) {

    .nav_link {
        gap: 15px;
    }
    
    .hero_img {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 774px;
        height: 446px;
        flex-shrink: 0;
        background: url(/images/landing/heroimg-1024.png);
        background-repeat: no-repeat;
    }


    .nav-img {
        visibility: visible;
    }
}

/* 1024px */

@media (max-width: 1024px) {
     .nav_link--menu {
        position: fixed;
        background-color: #E9EBEC;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly; 
        align-items: center;
        z-index: 100;
        opacity: 0;
        pointer-events: none;
        transition: .7s opacity;
    }   
    .nav-menu {
        display: block;
    }

    .nav_links {
        gap: 10px;
    }

    .nav_link--show{
        --show: block;
        opacity: 1;
        pointer-events: unset;
    }

    h1 {
        color: #252B33;
        font-family: Darker Grotesque;
     
        line-height: 80px; /* 83.333% */
    }



    .advantages-icon {
        width: 80px;
        height: auto;
    }

}  

/* 795px */

@media (max-width: 795px) {

    html {
        font-size: 10px;
    }

    .hero_img {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 400px;
        height: 230px;
        flex-shrink: 0;
        background: url(/images/landing/heroimg-795.png);
        background-repeat: no-repeat;
    }  

    .container_advantages2 {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 2.5rem;
    }

    .catalog_img {
        width: 280px;
    }


@media (max-width: 425px) {
    h1 {
        font-size: 3rem;
    }

    .container_advantages2 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 2.5rem;
}
 
     .footer-container {
        display: flex;
        flex-direction: column;
        align-items: center;
     }
    .footer-nav {
        display: flex;
        flex-direction: column;
        gap: .8rem;
        align-items: center;
        padding: 0;
        padding-bottom: 1.3rem;
    }

    .hero_img {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 300px;
        height: 175px;
        flex-shrink: 0;
        background: url(/images/landing/hero-325.png);
        background-repeat: no-repeat;
    }

    .price_element {
        padding-bottom: 0;
        text-align: center;
        border-radius: 10px;
        border: 2px solid #2F7BBD;
        width: 200px;
        min-width: 50%;
       /* height: 55.125rem; */
    }

    .price_element--pink {
        border: 2px solid #F36;
    }
}
}